---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

$link-color: #0092ca;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Match font size to paulrichmond.shef.ac.uk
html {
  font-size: 16px;
}

@media (min-width: 48em) {
  html {
    font-size: 18px;
  }
}
